* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;
background-color: #f4f5f7;
color: #222;
}



header {
background-color: #1f2937;
color: white;
text-align: center;
padding: 40px 20px;
margin-bottom: 35px;
}

header h1 {
font-size: 38px;
margin-bottom: 10px;
}

header p {
font-size: 17px;
color: #d1d5db;
}



.catalogo {
width: 90%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 25px;
padding-bottom: 50px;
}



.producto {
background-color: white;
border-radius: 12px;
padding: 18px;
text-align: center;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}



.contenedor-img {
width: 100%;
height: 220px;
display: flex;
align-items: center;
justify-content: center;
background-color: #f8f8f8;
border-radius: 10px;
margin-bottom: 15px;
overflow: hidden;
}



.contenedor-img img {
max-width: 100%;
max-height: 100%;
width: auto;
height: auto;
object-fit: contain;
transition: transform 0.4s ease;
}



.contenedor-img img:hover {
transform: scale(1.08);
}



.producto h2 {
font-size: 21px;
margin-bottom: 8px;
color: #1f2937;
}



.producto p {
font-size: 20px;
font-weight: bold;
color: #2563eb;
margin-bottom: 15px;
}



.producto button {
width: 100%;
padding: 11px;
border: none;
border-radius: 7px;
background-color: #2563eb;
color: white;
font-size: 15px;
font-weight: bold;
cursor: pointer;
}


.producto button:hover {
background-color: #1d4ed8;
}


